div.content {
	background-color: 	#9494B8;
	text-color: black;
	position: relative;
	height: 854px;
	width: 500px;
	z-index: 9999;
	margin: 3px;
	top:0;
	border-radius:10px;
	left:  33.33%;
	overflow-x: hidden;
}

div.contentziare {
	background-color: 	#9494B8;
	position: relative;
	height: 774px;
	width: 500px;
	z-index: 99;
	margin: 3px;
	top:0;
	border-radius:10px;
	overflow-y: auto;
	overflow-x: hidden;
}

div.ziarItem {
	background-color: #99CCCC;
	height: 120px;
	width : 140px;
	margin: 10px;
	position: absolute;
	border-radius:10px;
}

div.ziarMare {
	background-color: #99CCCC;
	height: 150px;
	width : 190px;
	margin: 10px;
	position: absolute;
	border-radius:10px;
	left : 33%;
	right: 33%;
	z-index: 999;
}

div.tastatura {
	background-color: blue;
	height: 274px;
	width: 500px;
	bottom : 80px;
	position: absolute;
	border-radius:10px;
	background-image:url('tastatura.png');
	background-size: 100% 80%;
	background-repeat:no-repeat;
	background-position: bottom; /* or 0% 100% */
	visibility: hidden;
	z-index: 999;
}

div.detalii {
	background-color: #33FFFF;
	height: 174px;
	width: 500px;
	bottom : 80px;
	position: absolute;
	border-radius:10px;
	z-index: 999;
	visibility: hidden;
}


div.input {
	background-color: red;
	height: 20%;
	width: 500px;
	top : 0;
	position: absolute;
	border-radius:10px;
}

.search_text {
	height : 50%;
	width: 60%;
	border-radius:10px;
	left : 10px;
	top: 10px;
	position: absolute;
}

.search_button {
	height : 50%;
	width: 30%;
	border-radius:10px;
	right : 20px;
	top: 13px;
	position: absolute;
}

img.img {
	width : 140px;
	height : 50px;
	position: absolute;
	left : 0;
}

img.imgMare {
	width : 190px;
	height : 100px;
	position: absolute;
	left : 0;
	z-index: 999;
}

.settings {
	width: 50px;
	height : 50px;
	bottom : 10px;
	position: absolute;
}

.divmenu {
	background-color: #606060;
	width: 500px;
	height : 80px;
	bottom : 0;
	position: absolute;
	border-radius:10px;
}

.divnume {
	background-color: #99CCCC;
	width : 140px;
	height: 30px;
	top: 50px;
	position: absolute;
	font-size: 10pt;
	text-align: center;
	z-index: 9;
}

.buttonAdauga {
	-moz-box-shadow:inset 0px 1px 14px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 14px 0px #bee2f9;
	box-shadow:inset 0px 1px 14px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-webkit-border-top-left-radius:27px;
	-moz-border-radius-topleft:27px;
	border-top-left-radius:27px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:27px;
	-moz-border-radius-bottomright:27px;
	border-bottom-right-radius:27px;
	-webkit-border-bottom-left-radius:27px;
	-moz-border-radius-bottomleft:27px;
	border-bottom-left-radius:27px;
	text-indent:-2px;
	border:3px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:Arial Black;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:28px;
	line-height:28px;
	width:89px;
	text-decoration:none;
	text-align:center;
}
.buttonAdauga:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}.buttonAdauga:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */